<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{constant('TITULO')}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Administradora de Condominio Halcon, Administradora de condominio">
<meta name="author" content="Edgar Messia (pronet21.com)">
<!-- Le styles -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href="css/docs.css" rel="stylesheet">
<link href="css/prettify.css" rel="stylesheet">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="img/favicon.png">
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-4533943-11']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

    </script>
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">
<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="brand" href="{{ constant("ROOT") }}enlinea">Halcón en Línea</a>
<div class="nav-collapse collapse">
<ul class="nav">
<li class="active">
<a href="#">Administradora Halcón</a>
</li>
<li class="">
<a href="#nuestra-empresa">Nuestra Empresa</a>
</li>
<li class="">
<a href="#mision-vision">Misión y Vision</a>
</li>
<li class="">
<a href="#contactenos">Contáctenos</a>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="jumbotron masthead">
<div class="container">
<img src="img/logo_halcon.png">
<!--h1>Administradora Halcón</h1-->
<p>Solución Administrativa en sus manos.</p>
<p>
<a href="login.php" class="btn btn-inverse btn-large" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Halcon en linea', 'Halcon en Linea']);">Halcón en Línea</a>
</p>
<ul class="masthead-links">
<li>
<a href="#nuestra-empresa" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Nuestra Empresa']);">Nuestra Empresa</a>
</li>
<li>
<a href="#mision-vision" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Mision y Vision']);">Misión y Visión</a>
</li>
<li>
<a href="#contactenos" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Contactenos']);">Contáctenos</a>
</li>
<li><a href="intranet.php">Intranet</a></li>
<li>
  Gestionado por <a href="http://www.pronet21.com.ve" target="_black"onClick="_gaq.push(['_trackEvent','Jumbotron action','Jumbotron links','Pronet21'])">Pronet21</a>
</li>
</ul>
</div>
</div>
<div class="bs-docs-social">
<div class="container">
<!--ul class="bs-docs-social-buttons">
  <li>
    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
  </li>
  <li>
    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
  </li>
  <li class="follow-btn">
    <a href="https://twitter.com/twbootstrap" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @twbootstrap</a>
  </li>
  <li class="tweet-btn">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://twitter.github.com/bootstrap/" data-count="horizontal" data-via="twbootstrap" data-related="mdo:Creator of Twitter Bootstrap">Tweet</a>
  </li>
</ul-->
</div>
</div>
<div class="container">
<div class="marketing">
<section id="nuestra-empresa">
<h1>¿Quiénes Somos?.</h1>
<p class="marketing-byline">Experiencia, trayectoria y servicio.</p>
<div class="row-fluid">
<div class="span12">
<p>Es una empresa que nace en el Estado Vargas con la finalidad de prestar un
servicio Global de Administración de Condominios así como Venta y Alquiler de
Inmuebles. Su Gerente-Fundador cuenta con una sólida experiencia de más de 18 años en el ramo, garantía
de satisfacción para nuestros clientes en todas las áreas que comprende la
Administración de Condominios.</p>
<p>Esta amplia trayectoria y conocimientos han sido un importante aval para la
materialización de este proyecto y brindara en lo que respecta a la Trasparencia
de todas las finanzas que manejamos, así como una invaluable experiencia en
todo lo relacionado a las principales necesidades de las Juntas de Condominio y
de las Comunidades.</p>
<p>Además, contamos con un valioso equipo de personas que con gusto los
atenderán en las áreas Administrativa, Contable, de Atención al Cliente y
Legal, brindando así soluciones rápidas y efectivas a las necesidades de los
Copropietarios e Inquilinos.</p>
</div>
</div>
</section>
<hr class="soften">
<div class="row-fluid">
<section id="mision-vision">
<div class="span4">
<h2>Misión</h2>
<p>La empresa tiene como una de sus principales metas la Administración
de Condominios, regidos por la Ley de Propiedad Horizontal, con atención
personalizada así como la mas alta tecnología, para facilitar el crecimiento
sostenido de nuestros Condominios. Igualmente atender el área de venta de
inmuebles de una manera personalizada donde tanto vendedor como comprador
cumplan con sus expectativas. En resumen una Atención Personalizada y
Especializada.</p>
</div>
<div class="span4">
<h2>Visión</h2>
<p>Es un concepto global en servicios de Administración de Condominios donde se
pueda desarrollar una clara, rápida y eficiente gestión y consolidar un exitoso
Condominio, para alcanzar un crecimiento sostenido en el mercado inmobiliario,
igualmente prestar un servicio personalizado de calidad en el área de venta de
inmuebles.</p>
</div>
<div class="span4">
<img src="img/edificios.jpg">
</div>
</section>
</div>
<hr class="soften">
<div class="row-fluid">
<section id="contactenos">
<span class="span5">
<h2>Contáctenos</h2>
<p></p>
<dl class="dl-horizontal" style="text-align: left;">
<dt>Pagos Condominio</dt><dd>halconpagos@gmail.com</dd>
<dt>Facturación</dt><dd>halconfacturacion@gmail.com</dd>
<dt>Condominio</dt><dd>halconcondominio@gmail.com</dd>
<dt>Recursos Humanos</dt><dd>halconrrhh@gmail.com</dd>
<dt>Legal</dt><dd>halconlegal@gmail.com</dd>
<dt>Cuentas x    pagar</dt><dd>halconcuentasporpagar@gmail.com</dd>
</dl>
</span>
<span class="span7">
<h2>Importante!</h2>
<div class="well">
    <p>Se agradece enviar su email solo al departamento a que corresponda.</p>
    <p>Por favor no envíe sus emails con copia a todos con la finalidad de no sobre
        cargar a otros departamentos de información no correspondiente.</p>
    <p>Gracias por su colaboración</p>
</div>
</span>
</section>
</div>
</div>
</div>
<footer class="footer">
<div class="container">
<p>Calle Nueva, Qta Rimar, Planta Baja, Palmar Este. Caraballeda, Estado Vargas.</p>
<p>Teléfonos: (0212)355 8583 - 8477 Fax: (0212)355 8605</p>
<p>Atención al Cliente: Lunes a Viernes de 9:00am - 12:00m / 2:00pm - 4:30pm</p>
<p>E-mail: info@administracion-condominio.com.ve</p>
<ul class="footer-links">
<li><a href="{{ constant("ROOT") }}">Administradora Halcón</a></li>
<li class="muted">&middot;</li>
<li><a href="{{ constant("ROOT") }}#nuestra-empresa" onclick="_gaq.push(['_trackEvent', 'Footer actions', 'Footer links', 'Nuestra Empresa']);">Nuestra Empresa</a></li>
<li class="muted">&middot;</li>
<li><a href="{{ constant("ROOT") }}#mision-vision" onclick="_gaq.push(['_trackEvent', 'Footer actions', 'Footer links', 'Mision y Vision']);">Misión y Visión</a></li>
<li class="muted">&middot;</li>
<li><a href="{{ constant("ROOT") }}#contactenos" onclick="_gaq.push(['_trackEvent', 'Footer actions', 'Footer links', 'Contactenos']);">Contáctenos</a></li>
<li class="muted">&middot;</li>
<li><a href="login.php">Halcón en Línea</a></li>
</ul>
</div>
</footer>
<script type="text/javascript" async src="http://platform.twitter.com/widgets.js"></script>
<script src="js/jquery.js"></script>
<script src="js/bootstrap-transition.js"></script>
<script src="js/bootstrap-alert.js"></script>
<script src="js/bootstrap-modal.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-scrollspy.js"></script>
<script src="js/bootstrap-tab.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script src="js/bootstrap-popover.js"></script>
<script src="js/bootstrap-button.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script src="js/bootstrap-carousel.js"></script>
<script src="js/bootstrap-typeahead.js"></script>
<script src="js/bootstrap-affix.js"></script>
<script src="js/holder.js"></script>
<script src="js/prettify.js"></script>
<script src="js/application.js"></script>
<script type="text/javascript">$(document).ready(function(){$("a").bind("blur", function() 
{$("ul.nav li").each(function(){$(this).removeClass("active");});$(this).closest("li").addClass("active");});});</script>
</body>
</html>
