{# indice #}
{% extends 'layout/intra.html.twig'%}
{# JAVASCRIPT #}
{% block head %}
{{ parent() }}

<script src="{{ constant('ROOT')}}js/comun.js"></script>
<link rel="stylesheet" type="text/css" href="{{ constant('ROOT') }}css/jquery-ui-1.8.16.custom.css">
<script type="text/javascript" src="{{ constant('ROOT')}}js/jquery-validate/jquery.validate.js"></script>
<script type="text/javascript" src="{{ constant('ROOT')}}js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="{{ constant('ROOT')}}js/jquery-validate/localization/messages_es.js"></script>
<script type="text/javascript" src="{{constant('ROOT')}}js/jquery.ui.datepicker-es.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".error").hide();
        $("#fecha_documento").datepicker({
            maxDate: new Date()
        });
        $(":checkbox").live('click', function() {
            var monto = 0;
            $("input:checked").each(function() {
                monto = parseFloat(monto) + (parseFloat($(this).closest("tr").find("td:last").text().replace(".", "").replace(",", ".")) * 100);
            });
            monto = monto / 100;
            $("#monto").val(monto.formatCurrency());
        });
        $("#tipo_pago").change(function() {
            if ($(this).val() == "T") {
                $("#banco_origen").attr('disabled', false);
                $('#num_docu').html("Código Transferencia:");
            } else {
                $("#banco_origen").attr('disabled', true);
                $("#banco_origen").val('');
                $('#num_docu').html("Número Depósito:");
            }
        });
        $("#frmPago").validate();
    });
    </script>

{% endblock %}
{% block titulo 'Administradora de Condominio'%}
{% block contenido %}
<div class="span12">
    <br/>
    <ul class="breadcrumb hidden-phone">
        <li><a href="{{constant('URL_SISTEMA')}}">{{ constant("NOMBRE_APLICACION")}}</a><span class="divider">&raquo;</span></li>
        <li>Pago de Condominio</li>
    </ul>
    <div class="bs-docs-example">
        <p>Introduzca el código del inmueble y el código del apartamento, luego presione el botón consultar para visualizar la deuda del propietario:</p><br/>
        <form class="form-inline" role="form" method="post" action="{{constant('URL_INTRANET')}}/caja/consultar">
            <div class="form-group">
                <label class="sr-only" for="inmueble">Inmueble</label>
                <input type="text" class="form-control" id="inmueble" name="inmueble" placeholder="Codigo Inmueble">
            </div>
            <div class="form-group">
                <label class="sr-only" for="apto">Apartamento</label>
                <input type="text" class="form-control" id="apto" name="apto" placeholder="Código Apartamento">
            </div>
            <button type="submit" class="btn btn-default" name="consultar">Consultar</button>
        </form>
        
        {% if resultado is defined %}
            {% include 'misc/resultado.html.twig' %}
                <div style="min-height: 20px"></div>
                {#% if resultado.suceed %#}
                    <table  class="table table-bordered table-striped responsive-utilities">
                        <caption style="text-align: left;"><p class="text-info">Imprima las siguientes facturas:</p></caption>
                        <thead>
                            <tr>
                                <th style="text-align: center">Acción</th>
                                <th style="text-align: center">Factura</th>
                            </tr>
                        </thead>
                    {% for factura in resultado.facturas %}
                        <tr class="info"><td style="text-align: center"><a href="../../imprimirCancelacionDeGastos/{{ factura}}" target="_blank">Imprimir</a></td><td>{{ factura }}</td></tr>
                    {% endfor %}
                    </table>
                {#% endif %#}
        {% else %}
                {% if cuenta is defined %}
                {% if cuenta.recibos|length > constant('MESES_COBRANZA') %}
                <div class="alert alert-error" style="font-size: 120%">Indíquele al propietario del {{ cuenta.inmueble }}, Apartamento: {{ cuenta.apto }} <br/><strong>que debe ponerse en contacto con el departamento de cobranzas de {{ constant('TITULO') }}.</strong><br/><small>Tiene {{ cuenta.recibos|length}} recibos pendiente de pago.</small></div>
                {% else %}
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#">Inmueble <span class="badge">{{ cuenta.inmueble }}</span></a></li>
                        <li class="active"><a href="#">Apartamento <span class="badge">{{ cuenta.apto }}</span></a></li>
                    </ul>
                <form id="frmPago" class=".form-horizontal" role="form" method="post" action="{{constant('URL_INTRANET')}}/caja/guardar">
                <table  class="table table-bordered table-striped responsive-utilities">
                    <caption style="text-align: left;"><p class="text-info">Marque las facturas a cancelar.</p></caption>
                    <thead>
                        <tr>
                            <th style="text-align: center">Pagar</th>
                            <th style="text-align: center" class="hidden-phone">Nº Factura</th>
                            <th style="text-align: center">Período</th>
                            <th style="text-align: center" class="hidden-phone">Facturado</th>
                            <th style="text-align: center" class="hidden-phone">Abonado</th>
                            <th style="text-align: center">Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for recibo in cuenta.recibos %}
                            <tr class="info">
                                <td style="text-align: center">{{ form.input('checkbox','required',recibo.numero_factura,'facturas[]',recibo.numero_factura, false) }}</td>
                                <td style="text-align: center" class="hidden-phone">
                                    <a href="{{ constant('URL_SISTEMA')}}/avisos/ver/{{ recibo.numero_factura}}" target="_blank">{{ recibo.numero_factura}}</a></td>
                                <td style="text-align: center">{{ recibo.periodo | date("m-Y") | upper}}</td>
                                <td class="hidden-phone"><span class="pull-right">{{ format_number(recibo.facturado) }}</span></td>
                                <td class="hidden-phone"><span class="pull-right">{{ format_number(recibo.abonado) }}</span></td>
                                <td><span class="pull-right">
                                    {{ format_number(recibo.facturado - recibo.abonado) }}
                                            </span>
                                        </td>
                           </tr>
                    {% endfor %}
                    </tbody> 
                 </table>
                     <label class="error" for="facturas[]">Debe seleccionar por lo menos una factura.</label>
                     {% endif %}
                        {% if cuenta.recibos is empty %}
                            <div class="alert alert-error">Estimado propietario(a) usted 
                            <strong>No tiene recibos pendientes</strong>.</div>
                        {% else %}
                            {% if cuenta.recibos|length <= constant('MESES_COBRANZA') %}
                            <div class="row-fluid show-grid" style="text-align: left">
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label">Medio de Pago</label>
                                            <div class="controls">
                                                <select name="tipo_pago" id="tipo_pago" class="required">
                                                    <option value="D">Depósito</option>
                                                    <option value="T">Transferencia</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label id="num_docu" for="numero_documento" class="control-label">Número de Depóisto</label>
                                            <div class="controls">
                                {{ form.input('text','required input-medium','numero_documento','numero_documento','', false) }}
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label for="numero_cuenta" class="control-label">Cuenta Destino</label>
                                                <div class="controls">
                                    {{ form.input('text','required input-large','numero_cuenta','numero_cuenta','', false) }}
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label for="fecha_documento" class="control-label">Fecha Pago</label>
                                                    <div class="controls">
                                                        <div class="input-prepend">
                                                            <span class="add-on"><i class="icon-calendar"></i></span>
                        {{ form.input('text','required input-small calendario','fecha_documento','fecha_documento','', false) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label for="banco_origen" class="control-label">Banco Origen de la Transferencia</label>
                                                        <div class="controls">
                                        {{ form.input('text','required input-large mayuscula','banco_origen','banco_origen','', true) }}
                                                            </div>
                                                        </div>
                                                        <div class="control-group">
                                                            <label for="banco_destino" class="control-label">Banco Destino</label>
                                                            <div class="controls">
                                        {{ form.input('text','required input-large mayuscula','banco_destino','banco_destino','', false) }}
                                                                </div>
                                                            </div>

                                                            <div class="control-group">
                                                                <label for="monto" class="control-label">Monto</label>
                                                                <div class="controls input-prepend input-append">
                                                                    <span class="add-on">Bs.</span>
                        {{ form.input('text','required input-medium input-prepend input-append','monto','monto','0,00', false) }}
                                                                </div>
                                                            </div>
                                                            <div class="control-group">
                                                                <label for="email" class="control-label">e-mail Contacto</label>
                                                                <div class="controls input-prepend input-append">
                                                                    <span class="add-on">@</span>
                                                {{ form.input('text','required email input-medium input-prepend input-append','email','email','',false) }}
                                                                </div>    
                                                            </div>
                                                        </div>

                                                    </div>
                            <div class="form-actions">
                                    <input type="submit" name="procesar" value="Procesar" class="btn btn-primary"/>
                                </div>                
                        {% endif %}
                 </form>
                {% endif %}
                {% endif %}
        {% endif %}
                </div>
                <p>Si tiene algún problema con nuestra página web, 
                    escríbanos a <a href="#">halconsoporte@gmail.com</a> y le daremos oportuna
                    respuesta a su requerimiento.</p>
            </div>
{% endblock %}
